body{
  background:black url('../images/bg3.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  font-family: 'Roboto', sans-serif;
}

#navbar{
  margin-top:5%;
  left:0;
  position:fixed;
  display:inline-block;
  float:left;
  height:auto;
  width:80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display:none;
}

.navItemTop{
    
  border-top-right-radius: 15px;
  height:50px;
  width:auto;
  background-color:rgba(54,54,54,.5);
  text-align:center;
  padding-top:25px;
  padding-bottom: -25px;
}

.navItem{
  background-color:rgba(54,54,54,.5);
  height:50px;
  width:auto;
  background-color:rgba(54,54,54,.5);
  text-align:center;
  padding-top:25px;
  padding-bottom: -25px;
}

.navItemBottom{
  border-bottom-right-radius: 15px;
  height:50px;
  width:auto;
  background-color:rgba(54,54,54,.5);
  text-align:center;
  padding-top:25px;
  padding-bottom: -25px;
}

#container{
	width:500px;
	height:800px;
	margin-left:30%; 
}

#header{
  height:100px;
  width:inherit;
  font-size:4em;
  color:white;
  text-align: center 
}

#img1, #img2{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  z-index:-1;
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}

#staticInput{
 
}

#body{
  height:240px;
  width:inherit;
  text-align:center;
  background-color: rgba(80,80,80,0.3) ;   
  border-radius:10px;
  padding-top:75px;
 
  /*Controls the radius of the box*/
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*Controls the shadow of the box*/
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

#classBody{
  height:auto;
  margin-left:15%;
  width:70%;
  text-align:center;
  background-color: rgba(35,52,69, .95);  
  border-radius:10px;
  padding-top:75px;
 
  /*Controls the radius of the box*/
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*Controls the shadow of the box*/
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);


}
#footer {
  height:25px;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: rgba(80,80,80,0.5) ;   
}
 
/** STYLES FOR INPUT BOXES ON INDEX.PHP **/

input.top{
    width:300px;
    height:30px;
    border-top:none;
    border-left:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right:none;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:5px;
}

input.top:focus{
    outline:none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
input.middle:focus{
    outline:none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
input.bottom:focus{
    outline:none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input.middle{
    width:300px;
    height:30px;
    border-top:none;
    border-left:none;
    border-right:none;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:5px;
 }

input.bottom{
    width:300px;
    height:30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top:none;
    border-left:none;
    border-bottom:none;
    border-right:none;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:5px;
}


label.buttons{
	background-color: #4CAF50; 
  border: 1px solid black;
  border-radius:30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

    /*Sets appearance as buttons*/
	-webkit-appearance: button;
  -moz-appearance: button;
  -o-appearance: button;
  -ms-appearance: button;
  appearance: button;
}
   
label.buttons:hover{
	-webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.9);
  transition: all 1s ease-in-out;
}

label.buttons:checked{
	background-color:red;
 }



/** BUTTON STYLES **/

.button {
  display: inline-block;
  border-radius: 4px;
  background-color:inherit;
  border: none;
  color: #242424;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*Controls the shadow of the box*/
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: " >>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
