.choice{
  background-color: inherit;
  display: inline-block;
  width: 100px;
  height: 100px;

}

#checkboxes input[type=checkbox]{
  display: none;
}

#checkboxes input[type=checkbox]:checked + .choice{
  display:none;
}
 


/*

Above is from index.html test file

*/

body {
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

.clear {
	clear:both;
}
.mrgn-50 {
	margin-top:50px}

a { color:#FFF; text-decoration:none}
a:hover { color:#09F; text-decoration:none}
h1 {
	margin-top:50px;
	color:#FFF;
	font-size:3em; 
	text-align:center;}

.choice-list {
  margin: 50px auto;
  width: 840px;
  display: block;
  padding: 0;
}

.checkbox {
  float: left;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 20px;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
}
.checkbox:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.checkbox:hover:after {
  color: white;
}
.checkbox:after {
  line-height: 85px;
  font-family: "FontAwesome";
  display: block;
  content: "";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
  height: 100%;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 54px;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}
.checkbox.is-checked:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  font-size: 44px;
  color: white;
}
.checkbox.is-checked:hover:after {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

._201:after {
  content: "201";
  background-color: rgba(165, 194, 92, 0);
}
._201.is-checked:after {
  background-color: #a5c25c;
}

._202:after {
  content: "202";
  background-color: rgba(241, 76, 56, 0);
}
._202.is-checked:after {
  background-color: #f14c38;
}

._203:after {
  content: "203";
  background-color: rgba(255, 202, 37, 0);
}
._203.is-checked:after {
  background-color: #ffca25;
}

._304:after {
  content: "304";
  background-color: rgba(241, 76, 56, 0);
}
._304.is-checked:after {
  background-color: #f14c38;
}

._313:after {
  content: "313";
  background-color: rgba(224, 130, 131, 0);
}
._313.is-checked:after {
  background-color: #E08283;
}


.email:after {
  content: "\f1fa";
  background-color: rgba(145, 61, 136, 0);
}
.email.is-checked:after {
  background-color: #913D88;
}

.bell:after {
  content: "\f0f3";
  background-color: rgba(244, 179, 80, 0);
}
.bell.is-checked:after {
  background-color: #F4B350;
}

.map:after {
  content: "\f041";
  background-color: rgba(68,108,179, 0);
}
.map.is-checked:after {
  background-color: #446CB3;
}

.wifi:after {
  content: "\f1eb";
  background-color: rgba(224, 130, 131, 0);
}
.wifi.is-checked:after {
  background-color: #E08283;
}
