._201:after {
  content: "201";
  background-color: rgba(165, 194, 92, 0);
}
._201.is-checked:after {
  background-color: #a5c25c;
}

._202:after {
  content: "202";
  background-color: rgba(241, 76, 56, 0);
}
._202.is-checked:after {
  background-color: #f14c38;
}

._203:after {
  content: "203";
  background-color: rgba(255, 202, 37, 0);
}
._203.is-checked:after {
  background-color: #ffca25;
}

._304:after {
  content: "304";
  background-color: rgba(241, 76, 56, 0);
}
._304.is-checked:after {
  background-color: #f14c38;
}

._313:after {
  content: "313";
  background-color: rgba(224, 130, 131, 0);
}
._313.is-checked:after {
  background-color: #E08283;
}


._331:after {
  content: "331";
  background-color: rgba(145, 61, 136, 0);
}
._331.is-checked:after {
  background-color: #913D88;
}

._341:after {
  content: "341";
  background-color: rgba(244, 179, 80, 0);
}
._341.is-checked:after {
  background-color: #F4B350;
}

._411:after {
  content: "411";
  background-color: rgba(68,108,179, 0);
}
._411.is-checked:after {
  background-color: #446CB3;
}

 